.about {
  display: flex;

  &__title {
    width: auto;
    margin-top: 122px;
    margin-right: 35px;
    color: white;
    font-size: 56px;
    font-weight: 600;
    line-height: 64px;

    &-span {
      color: #515af8;
    }
  }

  &__text {
    margin-top: 32px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-style: normal;
  }

  &__img {
    width: 100%;
    height: 515px;
    margin-top: 64px;
    background: var(--Main_white, #fff);
  }

  &__button {
    padding: 23px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: none;
    background: #3c49ec;
    color: var(--Main_white, #fff);
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    margin-top: 64px;
  }
}
