.contact {
  padding-top: 59px;
  padding-bottom: 90px;

  &__container {
    display: flex;
    width: 993px;
    margin-bottom: 64px;
  }
  &__text-wrapper {
    max-width: 493px;
  }
  &__sub-title {
    color: #fff;
    font-size: 56px;
    font-weight: 600;
    line-height: calc(64 / 56);
    letter-spacing: -1.68px;
  }
  &__title {
    color: #fff;
    font-size: 56px;
    font-weight: 600;
    line-height: calc(64 / 56);
    letter-spacing: -1.68px;
    margin-bottom: 36px;
  }
  &__part-title {
    color: #3c49ec;
    font-size: 56px;
    font-weight: 600;
    line-height: calc(64 / 56);
    letter-spacing: -1.68px;
  }
  &__img-wraper {
    background-color: #3c49ec;
    width: 400px;
    height: 240px;
    border-radius: 10px;
    margin-right: 100px;
    position: relative;
  }
  &__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    height: auto;
  }
  &__text {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: calc(24 / 18);
    letter-spacing: -0.108px;
  }
}
.contact__form {
  max-width: 1074px;
}
.contact__label-wraper {
  display: flex;
  gap: 32px;
  margin-bottom: 44px;
}
.contact__label-fild {
  display: flex;
  align-items: center;
  gap: 32px;
}
.contact__label {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: calc(32 / 28);
  letter-spacing: -0.168px;
}

.contact__input {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 360px;
  height: 32px;

  &::placeholder {
  }
}

.contact__discus-wrapper {
  display: flex;
  max-width: 1074px;
  margin-bottom: 44px;
}
.contact__discus-text {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: calc(32 / 28);
  letter-spacing: -0.168px;
  margin-right: 64px;
}
.contact__radio-list {
  display: flex;
  align-items: center;
  gap: 16px;
}
.contact__check-btn {
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.contact__check-btn:nth-child(1) {
  padding: 14px 37px;
}
.contact__check-btn:nth-child(2) {
  padding: 14px 45px;
}
.contact__check-btn:nth-child(3) {
  padding: 14px 23px;
}
.contact__check-btn:nth-child(4) {
  padding: 14px 33px;
}
.contact__check-input {
}
.contact__check-text {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 16px;
  line-height: calc(20 / 15);
  letter-spacing: -0.096px;
}

.project__label-fild {
  max-width: 1074px;
  display: flex;
  margin-bottom: 44px;
}
.project__label {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: calc(32 / 28);
  letter-spacing: -0.168px;
  margin-right: 32px;
}
.project__input {
  width: 948px;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

// budget

.budget__discus-wrapper {
  display: flex;
  max-width: 1074px;
  margin-bottom: 44px;
}
.budget__discus-text {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: calc(32 / 28);
  letter-spacing: -0.168px;
  margin-right: 64px;
}
.contact__radio-list {
  display: flex;
  align-items: center;
  gap: 16px;
}
.budget__check-btn {
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.budget__check-btn:nth-child(1) {
  padding: 14px 49px;
}
.budget__check-btn:nth-child(2) {
  padding: 14px 49px;
}
.budget__check-btn:nth-child(3) {
  padding: 14px 43px;
}
.budget__check-btn:nth-child(4) {
  padding: 14px 60px;
}
.contact__check-input {
}
.budget__check-text {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 16px;
  line-height: calc(20 / 15);
  letter-spacing: -0.096px;
}
.contact__check-text {
}
.budget__check-input {
}
.get-back__input {
  width: 885px;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

// agree form

.agree__form {
  display: flex;
  gap: 32px;
  width: 1074px;
  justify-content: end;
}
.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.agree__input {
}
.agree__label {
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: -0.096px;
}
.agree__label-span {
  color: #fff;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: -0.096px;
  text-decoration-line: underline;
}
.form-btn {
}
.form__btn-text {
  border-radius: 100px;
  border: none;
  background: #3c49ec;
  padding: 23px 68px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.09px;
}
