.footer {
  padding-bottom: 180px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  width: 1440px;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    margin-bottom: 32px;
  }
  &__logo-wrapper {
    justify-content: start;
    margin-right: 132px;
  }

  &__contact {
    display: flex;
    gap: 132px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: calc(24 / 18);
    letter-spacing: -0.108px;
  }
  &__adress {
    font-style: normal;
  }
  &__title-tel {
    margin-bottom: 8px;
  }
  &__tel {
    display: block;
    color: #fff;
    margin-bottom: 24px;
  }
  &__email {
    color: #fff;
  }
  &__software {
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: calc(24 / 16);
    letter-spacing: -0.096px;
  }
  &__services-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__technologies-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

.footer__end {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}
