.services {
  padding-top: 180px;
  padding-bottom: 90px;
  &__container {
    display: flex;
    gap: 126px;
  }
  &__sub-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 64px;
    position: relative;
  }
  &__sub-title::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: #3c49ec;
    left: 0;
    bottom: -32px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__btn {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
    line-height: 0;
    margin-top: 28px;
  }
  &__item-list {
    display: flex;
    align-items: center;
    gap: 32px;
  }
}

.services__btn {
}
.services__icon-btn {
}
.services__item-text {
  margin-right: 126px;
  width: 631px;
}
.services__title {
  font-size: 56px;
  font-weight: 600;
  line-height: 64px;
  color: var(--Main_white, #fff);
  margin-bottom: 32px;
}
.services__title-span {
  color: var(--Main_white, #3c49ec);
  font-size: 56px;
  font-weight: 600;
  line-height: 64px;
}

.services__sub-title-span {
  color: #fff;
}
.services__icon {
  margin-bottom: 32px;
}
.services__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
  color: rgba(255, 255, 255, 0.8);
}
.services__text:last-child {
  margin-bottom: 0px;
}
.services__text-span {
  color: #fff;
}

.services__item-list {
  display: flex;
  //   width: 483px;
  //   height: 590px;
}

.services__list-item {
  padding: 26px 44px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: #fff;
}

.services__list-item:nth-child(1) {
  opacity: 0.1;
}
.services__list-item:nth-child(2) {
  opacity: 0.2;
}
.services__list-item:nth-child(3) {
  opacity: 0.3;
}
.services__list-item:nth-child(4) {
  align-items: center;
  border-radius: 100px;
  background: #3c49ec;
  border: none;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}
.services__list-item:nth-child(5) {
  opacity: 0.4;
}
.services__list-item:nth-child(6) {
  opacity: 0.2;
}
.services__list-item:nth-child(7) {
  opacity: 0.1;
}
.services__item-list-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.services__item-list {
}

.png {
  color: white;
}
