<section class="about">
    <div class="container about__container">
        <div class="about__block">
            <h1 class="about__title">From Concept to Code: <span class="about__title-span">Software Product
                </span> Development, Timely and Cost-Effective!</h1>
            <p class="about__text">Accelerate your business with our entrusted technical engineers.</p>
            <button class="about__button">Start a project</button>
        </div>
        <div class="about__img">
        </div>
    </div>
</section>