<header class="header">
    <div class="container header__container">
        <a class="header__logo">
            <img src="./img/Logo.svg" alt="logo">
        </a>
        <ul class="header__list flex">
            <li class="header__list-item">
                <a href="" class="header__link">Our service</a>
            </li>
            <li class="header__list-item">
                <a href="" class="header__link">Expertise</a>
            </li>
            <li class="header__list-item">
                <a href="" class="header__link">Case Studies</a>
            </li>
            <li class="header__list-item">
                <a href="" class="header__link">Contaact us</a>
            </li>
        </ul>
        <button class="header__button">Let's talk
            <img class="header__button-svg" src="./img/Arrow - Right.svg" alt="">
        </button>
    </div>
</header>